  <div class="col-3">
    <ul class="list-group text-center">
      <li class="list-group-item"><strong>ジャンル検索</strong></li>
      <li class="list-group-item">ケーキ</li>
      <li class="list-group-item">焼き菓子</li>
      <li class="list-group-item">プリン</li>
      <li class="list-group-item">キャンディ</li>
    </ul>
  </div>