  <div class="col-3">
    <ul>
      <li><strong>ジャンル検索</strong></li>
      <li>ケーキ</li>
      <li>焼き菓子</li>
      <li>プリン</li>
      <li>キャンディ</li>
    </ul>

    <i class="fab fa-instagram"></i>
    <i class="fab fa-line"></i>
    <i class="fab fa-facebook-square"></i>
  </div>

