  <div class="container">
    <div class="row">
      <div class="col-2">
        <ul class="list-group">
          <li>ジャンル検索</li>
          <li>ケーキ</li>
          <li>焼き菓子</li>
          <li>プリン</li>
          <li>キャンディ</li>
        </ul>
      </div>
    </div>

    <div class="row">
      <p class="col-7">ようこそながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も、商品の閲覧は出来ますが、<br>
         購入には会員登録になります。
      </p>
    </div>

    <h2>新着商品</h2>
  </div>
