<div class='container'>
  <h3>会員一覧</h3>
   <table class="table">
     <thead class="thead-light">
       <tr>
         <th>会員ID</th>
         <th>氏名</th>
         <th>メールアドレス</th>
         <th>ステータス</th>
       </tr>
     </thead>
     <tbody>
       <% @customers.each do |customer| %>
       <tr>
         <td><%= customer.id %></td>
         <td><%#= custmoer.name %></td>
         <td><%= customer.email %></td>
         <td><%= customer.is_deleted %></td>
       </tr>
       <% end %>
     </tbody>
   </table>
</div>

