
<%= form_with model: [:admin, genre], local:true do |f| %>
<div class="row">
  <div class="col">
    <%= f.label "ジャンル名" %>
  </div>
  <div class="col">
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="col">
    <%= f.submit "新規登録", class: "btn btn-success" %>
  </div>
</div>
<% end %>