<div class="container">
  <div class="d-flex row ml-auto mt-5">
    <div class="mr-auto bg-light text-secondary"><h2>ショッピングカート</h2></div>
    <div class="btn btn-danger">カートを空にする</div>
  </div>

  <table class="table mt-5 ">
    <thead>
      <tr>
        <th style="width: 40%">商品名</th>
        <th style="width: 15%">単価(税込)</th>
        <th style="width: 15%">数量</th>
        <th style="width: 20%">小計</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>画像・商品名</th>
        <th>440</th>
        <th>3</th></th>
        <th>1200</th>
        <th>削除</th>
      </tr>
    </tbody>
  </table>

  <div class="d-flex row ml-auto mt-5">
    <div class="mr-auto btn btn-primary">買い物を続ける</div>
    <div>
      <table class="table">
        <thead>
          <tr>
            <th>合計金額</th>
            <th>1,320</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>

  <div class="text-center mt-3">
    <div class="btn btn-success">情報入力に進む</div>
  </div>

</div>

