@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

//共通部分
* {
  margin: 0;
  padding: 0;
}

body {
  font-text: 20px;
  box-sizing: border-box;
}

.container {
  margin-top: 50px;
}

h2,
h3,
h4 {
  padding-bottom: 30px;
  padding-left: 50px;

}

ul,
li {
  list-decoration: none;
  list-style: no;
}

a {
  text-decoration: none;
  color: #ddd;
}

label {
  width: 300px;
}

//入力欄
input {
  border-radius: 5px ;
  border-width: 1px;
}

//headerの背景画像
nav {
 height: 200px;
 background-image: url("../images/top_header.jpg");
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
 opacity: 0.7;
}

//
.navbar-brand {
  font-size: 40px;
  background: #deb887; /*背景色*/
  padding: 0.2em;/*文字周りの余白*/
  color: #000000;/*文字を白に*/
  border-radius: 0.3em;/*角の丸み*/
}

//top
.top-welcom {
  background-image: linear-gradient(to top, #FEADA6 0%, #F5EFEF 100%);
}

.top-title {
  font-size: 50px;
}

.top-text {
  font-size: 30px;
}

//footer
footer {
 height: 100px;
 background-color: #deb887;
 background-repeat: no-repeat;
 background-position: center center;
 background-size: cover;
}



