
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

//共通部分
* {
  margin: 0;
  padding: 0;
}

body {
  font-text: 20px;
  box-sizing: border-box;
  background: #fffaf0;
}

.container {
  margin-top: 50px;
}

h2,
h3 {
  display: inline-block;
  border-bottom: solid 2px #ff7f50;
}
