<div class="container">
  <div="row">
    <h3>注文情報確認</h3>
      <%= form_with( model: [@order, @cart_item], local: true, url: {action: :create}) do |f| %> 
      <div class="col">
        
      </div>
      
      <div class="col">
        
      </div>
      
      <% f.submit
    <% end %>
  </div>
</div>