  <div class='container'>
    <div class='row'>
      <%= render 'public/homes/genres' %>
      <div class='col-9'>
        <h3>商品一覧(全<%= @items.count %>件)</h3>
        <%= render 'index', items: @items %>
      </div>
    </div>
  </div>

