  <div class='container'>
    <div class='row'>
      <div class="col-3">
        <ul class="list-group">
          <li>ジャンル検索</li>
          <li>ケーキ</li>
          <li>焼き菓子</li>
          <li>プリン</li>
          <li>キャンディ</li>
        </ul>
      </div>
      <div class='col-9'>
        <h3>商品一覧(全<%= @items.count %>件)</h3>
          <div class='d-flex align-content-between flex-wrap'>
            <% items.each do |item| %>
              <div class='mr-3'>
                <%= attachment_image_tag item, :image, format: 'jpg', size: "180x100" %><br>
                <%= item.name %><br>
                ￥<%= item.add_tax_price.to_s(:delimited) %>
              </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>

